---

#########################################################
## Nexus Repository install action                     ##
#########################################################

#########################################################
## Pre-installation uninstall                          ##
#########################################################

# Run uninstall if uninstall is set
- name: Run uninstall playbook if set
  ansible.builtin.include_tasks: uninstall.yml
  ignore_errors: true
  when: nexus_repository_container_uninstall == true

#########################################################
## Pre-installation requirements                       ##
#########################################################

# Install required packages
- name: Install required packages...
  become: true
  ansible.builtin.package:
    name: "{{ nexus_repository_rpm_packages }}"
    state: present

#########################################################
## Installation on podman                              ##
#########################################################

- name: Install container on Podman...
  when: nexus_repository_container_platform == "podman"
  block:

    # Gather installed packages
    - name: Gather installed packages
      ansible.builtin.package_facts:
        manager: auto

    # Check if podman is detected
    - name: Check if podman is detected
      ansible.builtin.assert:
        that: '"podman" in ansible_facts.packages'
        fail_msg: "Podman is not installed. Please install Podman first. Cannot continue..."

    #####################################################
    ## Volume configuration                            ##
    #####################################################

    # Create volumes
    - name: Create configuration folders...
      ansible.builtin.include_role:
        name: podman
      vars:
        action_type: create_volumes
        container_volumes: "{{ nexus_repository_container_volumes }}"
        volume_mode: "0777"

    #####################################################
    ## Firewall configuration                          ##
    #####################################################

    # Open firewall ports
    - name: Open firewall ports...
      become: true
      ansible.builtin.firewalld:
        port: "{{ nexus_repository_container_ports[0].split(':')[0] }}/tcp"
        permanent: true
        state: enabled
        immediate: true

    #####################################################
    ## Import container                                ##
    #####################################################

    # Import container
    - name: "Install {{ nexus_repository_container_name }} container on podman"
      ansible.builtin.include_role:
        name: podman
      vars:
        action_type: import_container
        container_repository_url: "{{ nexus_repository_container_repository_url }}"
        container_repository_tag: "{{ nexus_repository_container_repository_tag | default('latest') }}"
        container_repository_checksum: "{{ nexus_repository_container_repository_checksum | default(omit) }}"
        container_repository_checksum_algorithm: "{{ nexus_repository_container_repository_checksum_algorithm | default(omit) }}"
        container_name: "{{ nexus_repository_container_name }}"
        container_ports: "{{ nexus_repository_container_ports }}"
        container_volumes: "{{ nexus_repository_container_volumes }}"
        container_env: "{{ nexus_repository_container_environment | default(omit) }}"
        container_healthcheck: "{{ nexus_repository_container_healthcheck | default(omit) }}"
        container_healthcheck_fail: "{{ nexus_repository_container_healthcheck_fail | default('none') }}"
        container_healthcheck_retries: "{{ nexus_repository_container_healthcheck_retries | default(omit) }}"
        container_healthcheck_interval: "{{ nexus_repository_container_healthcheck_interval | default(omit) }}"
        container_healthcheck_timeout: "{{ nexus_repository_container_healthcheck_timeout | default(omit) }}"
        container_healthcheck_start: "{{ nexus_repository_container_healthcheck_start | default(omit) }}"

#########################################################
## Configuration                                       ##
#########################################################

# Configure Sonatype Nexus
- name: Start configure task...
  ansible.builtin.include_tasks: configure.yml

#########################################################
## Post-install                                        ##
#########################################################

# Unset variables
#- name: Unset variables...
#  ansible.builtin.set_fact:
