---

#########################################################
## Uninstall action                                    ##
#########################################################
# Uninstall action 
# variables: 
#   - nexus_container_name: Name of the container to uninstall
#   - nexus_container_volumes: Volumes folders of the container to uninstall
#   - keep_data: true/false. Keep data when uninstalling. Default false.

#########################################################
## Uninstall configuration                             ##
#########################################################

# Set keep_data if not defined
- name: Set keep_data if not defined
  set_fact:
    keep_data: false
  when: keep_data is not defined
  
#########################################################
## Uninstall via podman                                ##
#########################################################

- name: "Uninstall {{ nexus_container_name }} on podman"
  when: platform == "podman"
  block:

    # Check if container is present
    - name: Check if container is present
      containers.podman.podman_container_info:
        name: "{{ nexus_container_name }}"
      register: pod_info
      ignore_errors: true

    # Remove container
    - name: "Remove container {{ nexus_container_name }}"
      containers.podman.podman_container:
        name: "{{ nexus_container_name }}"
        state: absent
      when: pod_info is defined

#########################################################
## Uninstall data                                      ##
#########################################################

# Start destroy_volumes from podman role
- name: "Destroy container data folders for {{ nexus_container_name }}..."
  ansible.builtin.include_role:
    name: podman
  vars:
    action_type: destroy_volumes
    container_volumes: "{{ nexus_container_volumes }}"
  when:
    - platform == "podman"
    - keep_data == false

#########################################################
## Post-uninstall                                      ##
#########################################################
