---

#########################################################
## Sonatype Nexus update module                        ##
#########################################################

# include task gather_nexus_repository_variables.yml
- name: Gather Nexus Repository variables...
  ansible.builtin.include_tasks: gather_nexus_repository_variables.yml
  when:
    - vault_address is defined
    - vault_token is defined
    - nexus_repository_vault_name is defined
    - nexus_repository_server_name is defined

#########################################################
## Sonatype Nexus update                               ##
#########################################################

- name: Update Nexus repository
  when: action_type == "update"
  block:

    # Show information message
    - name: Information message
      ansible.builtin.debug:
        msg: "This part is not (yet) implemented."

    # Stop playbook
    - name: Stop playbook
      ansible.builtin.meta: end_play
  