---

#########################################################
## Sonatype Nexus Repository artifacts module          ##
#########################################################

# include task gather_nexus_repository_variables.yml
- name: Gather Nexus Repository variables...
  ansible.builtin.include_tasks: gather_nexus_repository_variables.yml
  when:
    - vault_address is defined
    - vault_token is defined


#########################################################
## Import artifacts                                    ##
#########################################################

# include task import artifacts when action is import_artifacts
- name: Import artifacts
  ansible.builtin.include_tasks: import_artifacts.yml
  when: action_type == "import_artifacts"

#########################################################
## Export artifacts                                    ##
#########################################################

# include task when action is export_artifacts
- name: Export artifacts
  ansible.builtin.include_tasks: export_artifacts.yml
  when: action_type == "export_artifacts"

#########################################################
## Sync artifacts                                      ##
#########################################################

# include task when action is sync_artifacts
- name: Sync artifacts
  ansible.builtin.include_tasks: sync_artifacts.yml
  when: action_type == "sync_artifacts"
  